.DS_Store
workshops/gg/newconf/bin/LabMenu/venv/bin/python3.6
workshops/gg/newconf/bin/LabMenu/venv/bin/python3
workshops/gg/newconf/bin/LabMenu/venv/bin/activate.fish
workshops/gg/newconf/bin/LabMenu/venv/bin/python
workshops/gg/newconf/bin/LabMenu/.idea/LabMenu.iml
workshops/gg/newconf/bin/LabMenu/.idea/misc.xml
workshops/gg/newconf/bin/LabMenu/.idea/modules.xml
workshops/gg/newconf/bin/LabMenu/.idea/workspace.xml
workshops/gg/newconf/bin/LabMenu/venv/pyvenv.cfg
workshops/gg/newconf/bin/LabMenu/venv/bin/activate
workshops/gg/newconf/bin/LabMenu/venv/bin/activate.csh
